*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 
/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.page {
  display: flex;
}
.content {
  display: grid;
  justify-content: center;
  align-self: center;
  align-items: flex-end;
  width: 100%;
  height: 534px;
}
.result {
  grid-area: 2/4/20/3;
  display: inline-block;
  
  margin-right: 50px;
}
.content__list-container {
 position: relative; /* важно! */
  height: 334px;
  overflow-y: scroll;
}
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content__details {
  grid-area: 1/4/19/4;
  display: inline-block;
  max-height: 534px;
  padding-bottom: 20px;
  object-fit: contain;
  object-position: center;
}
.result__video-container {
   position: relative; /* важно! */
}
.content__video-card {
  display: flex;
  justify-content: space-between;
}
.result__video {
  object-fit: contain;
  width: 711px;
  height: 400px;
  margin-bottom: 16px;
}
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: contain;
  object-position: center;
}
.content__video-card-description-container:active{
  content: "";
  background-color: #545050;
}
.content__video-card-description-container:hover{
  content: "";
 text-decoration: underline;
}
.content__video-card-description-container {
  flex-grow: 1;
}
.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
}

.search-form__fieldset {
  display: grid;
  border: none;
  padding: 0;
}
.search-form__textfield{
  background-color: transparent;
  border-top: white 1px solid;
  border-bottom: white 1px solid;
  border-right: none;
  border-left: none;
}
.search-form__label{
 
}
.search-form__pseudo-checkbox{
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  background: transparent;
}
input[type='checkbox']:checked + span {
  content: "";
  background-color: white;
}
input[type='checkbox']:hover + span {
  content: "";
  text-decoration: underline;
}
.title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  text-transform: uppercase;
  color: white;
  line-height: 1;
}
.content__accent {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  text-transform: uppercase;
  position: relative;
  color: #545050;
}
.content__card-link {
  color: white;
  text-decoration: none;
}
.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  text-transform: uppercase;
}
.more-button {
  width: 100%;
  height: 34px;
  color: white;
  background: transparent;
  border: 1px solid white;
}
.search-form__submit-button:active{
  content: "";
  background-color: #545050;
}
.search-form__submit-button:hover{
  content: "";
  text-decoration: underline;
}
.search-form__submit-button:focus-visible{
}
.search-form__submit-button {
  color: white;
  background: transparent;
  border: 1px solid white;
  height: 34px;
  width: 194px;
}
